﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Cookbook.Views.Manage
@using Microsoft.ApplicationInsights.AspNetCore
@using Microsoft.AspNetCore.Localization
@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}


<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="col-md-6 control-label">@Localizer["Email"]</label>
                <input asp-for="Email" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label class="col-md-12 control-label">@Localizer["Username"]</label>
                <div class="input-group">
                    <input asp-for="Username" class="form-control" />
                    <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                </div>
            </div>

            <div class="input-field col s12">
                <select asp-for="Theme" class="form-control">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="green">@Localizer["green"]</option>
                    <option value="pink">@Localizer["pink"]</option>
                </select>
                <label>@Localizer["Theme"]</label>
            </div>

            <div class="input-field col s12">
                <select asp-for="Language" class="form-control">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="ru">@Localizer["ru"]</option>
                    <option value="be-BY">@Localizer["be"]</option>
                </select>
                <label>@Localizer["Language"]</label>
            </div>
            <button type="submit" class="btn btn-default">@Localizer["Update"]</button>
        </form>
    </div>
</div>

@section Scripts 
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


