﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<Cookbook.Models.Recipe>

@{
    ViewData["Title"] = Localizer["Title"];
}
<table class="table">

    @if (Model.Count() == 0)
    {
        <div>
            <b>
                <a asp-area="" asp-controller="Recipe" asp-action="Create">@Localizer["Create"]</a>
            </b>
        </div>
    }
    else
    {
        foreach (var recipe in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.RecipeId">@recipe.RecipeName</a>
                </td>
                <td>
                    @recipe.Category
                </td>
                <td>
                    @foreach (var ingredient in recipe.IngredientsForRecipe)
                    {
                        @ingredient.IngredientName
                        <br />
                    }
                </td>
                <td>
                    @recipe.LastEditTime.ToString("dd MMM yyyy hh:mm")
                </td>
                <td>
                    <a class="btn btn-default" asp-controller="Recipe" asp-action="Edit" asp-route-id="@recipe.RecipeId">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="btn btn-default" asp-controller="Recipe" asp-action="Delete" asp-route-id="@recipe.RecipeId">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </tr>
        }
    }
</table>