﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<Cookbook.Models.ApplicationUser>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "/Views/Shared/_Layout.cshtml";
}

<form id="tableUsers" method="post">
    <div class="btn-group" role="toolbar">
        <button type="submit" class="btn btn-secondary bnt-sm btn-default" name="ChangeLockout" asp-action="ChangeLockout">@Localizer["ChangeLockout"]</button>
        <button type="submit" class="btn btn-secondary bnt-sm btn-default" asp-action="Delete">@Localizer["Delete"]</button>
    </div> 
    
    <table class="table">
        <tr>
            <th>
                <div id="selectAll">
                    <label>
                        <input type="checkbox" value=""/>
                        <span></span>
                    </label>
                </div>
            </th>
            <th>@Localizer["Login"]</th>
            <th>Email</th>
            <th>Статус</th>
            <th></th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <p>
                        <label>
                            <input type="checkbox" for="tableUsers" name='selectedUsers' value="@user.Id" />
                            <span></span>
                        </label>
                    </p>
                </td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @if (await UserManager.IsLockedOutAsync(user))
                    {
                        @Localizer["Block"]
                    }
                    else
                    {
                        @Localizer["Unlock"]
                    }
                </td>
                <td class="user-control-set">
                    <a class="btn btn-default" asp-action="UserContent" asp-route-id="@user.Id">@Localizer["recipes"]</a>
                    @if (!await UserManager.IsInRoleAsync(user, "Admin"))
                    {
                        <a class="btn btn-default" asp-action="ChangeRole" asp-route-id="@user.Id">@Localizer["Admin"]</a>
                    }
                    else
                    {
                        <a class="btn btn-default" asp-action="ChangeRole" asp-route-id="@user.Id">@Localizer["DelAdmin"]</a>
                    }
                </td>
            </tr>
        }
    </table>
</form>


<script>
    window.onload = function() {
        $('#selectAll').on('click',
            function () {
                if (!$(this).find('input').prop('checked')) {
                    $(this).find('input').prop('checked', true);
                    $('body input:checkbox').prop('checked', true);
                } else {
                    $(this).find('input').prop('checked', false);
                    $('body input:checkbox').prop('checked', false);
                };
            });
    };
</script> 