﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cookbook</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        @{if (Context.Request.Cookies["theme"] == null || Context.Request.Cookies["theme"] == "green")
            {
                <link rel="stylesheet" href="~/css/theme1.css" />
            }
            else
            {
                <link rel="stylesheet" href="~/css/theme2.css" />
            }
        }

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <div class="nav-left">
            <a asp-area="" asp-controller="Recipe" asp-action="Index" class="brand-logo">Cookbook</a>
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="Recipe" asp-action="Create">@Localizer["Create"]</a></li>
                }
                <li><a asp-area="" asp-controller="Recipe" asp-action="Categories">@Localizer["Categories"]</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a asp-area="" asp-controller="Manage" asp-action="UserList">@Localizer["UserList"]</a>
                    </li>
                }
            </ul>
        </div>

        <form asp-controller="Search" asp-action="Index">
            <ul class="hide-on-med-and-down categories">
                <li style="width: 300px;">
                    <input class="form-control" id="id" name="id" type="text" />
                </li>
                <li>
                    <button type="submit" class="btn btn-default">Поиск</button>
                </li>              
            </ul>
        </form>
        @await Html.PartialAsync("_LoginPartial")
    </div>
</nav>


<div class="container body-content">
    @RenderBody()
        
</div>

<hr />
<footer>
    <p>&copy; 2019 - Cookbook</p>
</footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/materialize/materialize.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</environment>

    @RenderSection("Scripts", required: false)


    <script>
        M.AutoInit();
    </script>

</body>
</html>
