@using Cookbook.Views.Manage
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Cookbook.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                @*  <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@Localizer["Hello"] @UserManager.GetUserName(User)!</a>*@
                <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>
                    @Localizer["Hello"] @UserManager.GetUserName(User)!
                </a>

                <ul id='dropdown1' class='dropdown-content'>
                    <li><a asp-controller="Manage" asp-action="Index">@Localizer["Profile"]</a></li>
                    <li><a asp-controller="Manage" asp-action="ChangePassword">@Localizer["Password"]</a></li>
                    <li><a asp-controller="Manage" asp-action="MyContent">@Localizer["My content"]</a></li>
                    @if (hasExternalLogins)
                    {
                        <li><a asp-controller="Manage" asp-action="ExternalLogins">@Localizer["External logins"]</a></li>
                    }
                </ul>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["Logout"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a></li>
    </ul>
}
