﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ErrorViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1 class="text-danger">@Localizer["Title"]</h1>
<h2 class="text-danger">@Localizer["text"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["Request"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["Development Mode"]</h3>
<p>
    @Localizer["msg1"]
</p>
<p>
    @Localizer["msg2"]
</p>
