﻿$main-color: #81c784;
$accent-color: #388e3c;
$accent-hover: #689f38;

@mixin transition-default() {
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;

    .btn {
        background-color: $accent-color;

        &:hover {
            background-color: $accent-hover;
        }
    }

    nav {
        background-color: $main-color;

        .nav-left {
            display: flex;
        }
    }
}

#tableUsers {
    .btn-group {
        margin-top: 25px;
        margin-bottom: 15px;

        button {
            margin-right: 15px;
        }
    }

    .user-control-set {
        a {
            margin: 10px;
        }
    }
}

.tag-wrapper {
    margin-top: 20px;
    position: absolute;
    width: 250px;
    right: 20px;
    background-color: white;
    text-align: center;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

    a {
        &:not(.btn) {
            color: $accent-color;

            &:hover {
                @include transition-default;
                color: $accent-hover;
            }
        }
    }
}

/*HEADER*/

.nav-wrapper {
    display: flex;
    justify-content: space-between;

    .brand-logo {
        position: initial;
        padding: 0 20px;
    }

    .categories {
        display: inline-block;
    }

    #logoutForm {
        padding-right: 35px;
    }
}

/*FOOTER*/

footer {
    p {
        padding: 0 20px;
    }
}

/*HOMEPAGE*/

.homepage {
    .sorter {
        margin-top: 20px;
    }

    .article-item {
        position: relative;

        .rating {
            position: absolute;
            right: 0;
            top: 10px;
        }
    }

    .article-summary {
        margin-bottom: 20px;

        img {
            max-width: 300px;
        }

        .user-sign {
            p {
                font-size: 12px;
                margin: 5px 0;
            }
        }

        h4 {
            margin-top: 0;
        }
    }

    .article-item {
        display: flex;
        justify-content: space-between;
    }
}

.back-home {
    display: flex;
    align-items: center;
    color: $accent-color;

    &:hover {
        @include transition-default;
        color: $accent-hover;
    }
}

.ingredients-wrapper {
    .ingredient-wrapper {
        display: flex;

        .ingredient-name {
            font-weight: bold;
        }

        .ingredient-count {
            margin-left: 15px;
        }
    }
}


/*RECIPE PAGE*/
.recipe-title {
    margin-top: 10px;
}

.recipe-header {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.article-summary {
    h2 {
        font-size: 40px;
    }

    h4 {
        font-size: 30px;
    }

    .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .edit-controls {
            a {
                margin: 0 5px;
                color: $accent-color;

                &:hover {
                    @include transition-default;
                    color: $accent-hover;
                }
            }
        }
    }

    #comments {
        .comment-input {
            .input-group {
                display: flex;
                align-items: center;

                input {
                    padding-right: 20px;
                }
            }
        }

        .comment-author {
            color: black;
            font-size: 15px;
        }

        .comment-date {
            color: grey;
            font-size: 12px;
            margin-top: 0;
        }

        .add-like {
            margin-bottom: 25px;

            button {
                margin-right: 10px;
            }
        }
    }
}

.rating {
    cursor: pointer;
    position: relative;

    &:not(.home-rating) {
        i {
            &:hover {
                @include transition-default;
                color: $accent-hover;
            }
        }
    }

    i {
        color: $accent-color;
    }

    .actual-rating-wrapper {
        @include transition-default;
        position: absolute;
        top: 0;
        width: 68%;
        height: 29px;
        overflow: hidden;

        .actual-rating {
            width: 140px;
        }
    }
}

.edit-recipe,
.create-recipe {
    .form-group {
        margin: 20px 0;

        label {
            font-size: 14px;
        }
    }
}

.ingredient-controls {
    margin: 15px 0;

    span {
        margin-right: 15px;
    }
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
