body {
  /*padding-top: 50px;*/
  padding-bottom: 20px; }
  body .btn {
    background-color: #388e3c; }
    body .btn:hover {
      background-color: #689f38; }
  body nav {
    background-color: #81c784; }
    body nav .nav-left {
      display: flex; }

#tableUsers .btn-group {
  margin-top: 25px;
  margin-bottom: 15px; }
  #tableUsers .btn-group button {
    margin-right: 15px; }

#tableUsers .user-control-set a {
  margin: 10px; }

.tag-wrapper {
  margin-top: 20px;
  position: absolute;
  width: 250px;
  right: 20px;
  background-color: white;
  text-align: center; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }
  .body-content a:not(.btn) {
    color: #388e3c; }
    .body-content a:not(.btn):hover {
      -webkit-transition: .4s ease;
      -moz-transition: .4s ease;
      -ms-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease;
      color: #689f38; }

/*HEADER*/
.nav-wrapper {
  display: flex;
  justify-content: space-between; }
  .nav-wrapper .brand-logo {
    position: initial;
    padding: 0 20px; }
  .nav-wrapper .categories {
    display: inline-block; }
  .nav-wrapper #logoutForm {
    padding-right: 35px; }

/*FOOTER*/
footer p {
  padding: 0 20px; }

/*HOMEPAGE*/
.homepage .sorter {
  margin-top: 20px; }

.homepage .article-item {
  position: relative; }
  .homepage .article-item .rating {
    position: absolute;
    right: 0;
    top: 10px; }

.homepage .article-summary {
  margin-bottom: 20px; }
  .homepage .article-summary img {
    max-width: 300px; }
  .homepage .article-summary .user-sign p {
    font-size: 12px;
    margin: 5px 0; }
  .homepage .article-summary h4 {
    margin-top: 0; }

.homepage .article-item {
  display: flex;
  justify-content: space-between; }

.back-home {
  display: flex;
  align-items: center;
  color: #388e3c; }
  .back-home:hover {
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    color: #689f38; }

.ingredients-wrapper .ingredient-wrapper {
  display: flex; }
  .ingredients-wrapper .ingredient-wrapper .ingredient-name {
    font-weight: bold; }
  .ingredients-wrapper .ingredient-wrapper .ingredient-count {
    margin-left: 15px; }

/*RECIPE PAGE*/
.recipe-title {
  margin-top: 10px; }

.recipe-header {
  margin-top: 15px;
  display: flex;
  justify-content: space-between; }

.article-summary h2 {
  font-size: 40px; }

.article-summary h4 {
  font-size: 30px; }

.article-summary .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  .article-summary .title-wrapper .edit-controls a {
    margin: 0 5px;
    color: #388e3c; }
    .article-summary .title-wrapper .edit-controls a:hover {
      -webkit-transition: .4s ease;
      -moz-transition: .4s ease;
      -ms-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease;
      color: #689f38; }

.article-summary #comments .comment-input .input-group {
  display: flex;
  align-items: center; }
  .article-summary #comments .comment-input .input-group input {
    padding-right: 20px; }

.article-summary #comments .comment-author {
  color: black;
  font-size: 15px; }

.article-summary #comments .comment-date {
  color: grey;
  font-size: 12px;
  margin-top: 0; }

.article-summary #comments .add-like {
  margin-bottom: 25px; }
  .article-summary #comments .add-like button {
    margin-right: 10px; }

.rating {
  cursor: pointer;
  position: relative; }
  .rating:not(.home-rating) i:hover {
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    color: #689f38; }
  .rating i {
    color: #388e3c; }
  .rating .actual-rating-wrapper {
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    position: absolute;
    top: 0;
    width: 68%;
    height: 29px;
    overflow: hidden; }
    .rating .actual-rating-wrapper .actual-rating {
      width: 140px; }

.edit-recipe .form-group,
.create-recipe .form-group {
  margin: 20px 0; }
  .edit-recipe .form-group label,
  .create-recipe .form-group label {
    font-size: 14px; }

.ingredient-controls {
  margin: 15px 0; }
  .ingredient-controls span {
    margin-right: 15px; }

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%; }

/* QR code generator */
#qrCode {
  margin: 15px; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }
