﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<string>
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="container">
    <div>
        <a asp-action="Index" class="back-home">
            <i class="material-icons">chevron_left</i>
            @Localizer["Index"]
        </a>
    </div>
    
    <div class="collection">
        @foreach (var category in Model)
        {
            <a class="collection-item" asp-action="SortByCategory" asp-route-id="@category">@category</a>
        }
    </div>
</div>
