﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Cookbook.Models.Recipe
@{
    ViewData["Title"] = Localizer["Title"];
}
<h2>@Localizer["Title"]</h2>
<h3>@Localizer["msg"]</h3>
<div class="article-summary">
    <hr />
    <div class="col-md-2">
        <p>
            <h4>
                @Localizer["RecipeName"]
            </h4>
            <dd>
                @Html.Raw(Model.RecipeName)
            </dd>
        </p>
        <p>
            <h4>
                @Localizer["Abstract"]
            </h4>
            <dd>
                @Html.Raw(Model.Abstract)
            </dd>
        </p>
        <p>
            <h4>
                @Localizer["LastEditTime"]
            </h4>
            <dd>
                @Html.DisplayFor(model => model.LastEditTime)
            </dd>
        </p>
    </div>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-default">@Localizer["Delete"]</button> |
            <a asp-action="Index">@Localizer["Index"]</a>
        </div>
    </form>
</div>
