﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Cookbook.Models.Recipe
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = @Model.RecipeName;
}

<div class="recipe-header">
    <a asp-action="Index" class="back-home">
        <i class="material-icons">chevron_left</i>
        @Localizer["Index"]
    </a>
    

    <div class="rating">
        @*@Math.Round(Model.Rating, 2)*@

        <form asp-controller="Recipe" asp-action="RateRecipe" asp-route-id="@Model.RecipeId" method="post" style="display: none;">
            <button type="submit" class="btn" name="rating" value="1">
                1
            </button>
            <button type="submit" class="btn" name="rating" value="2">
                2
            </button>
            <button type="submit" class="btn" name="rating" value="3">
                3
            </button>
            <button type="submit" class="btn" name="rating" value="4">
                4
            </button>
            <button type="submit" class="btn" name="rating" value="5">
                5
            </button>
        </form>
        
        <div class="maximum-rating">
            <i class="material-icons">star_border</i>
            <i class="material-icons">star_border</i>
            <i class="material-icons">star_border</i>
            <i class="material-icons">star_border</i>
            <i class="material-icons">star_border</i>
        </div>
        <div class="actual-rating-wrapper">
            <div class="actual-rating" data-rating="@Math.Round(Model.Rating, 2)">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </div>
        </div>
    </div>
</div>

<div class="article-summary">
    <div class="title-wrapper">
        <h2>@Model.RecipeName</h2>
        
        <div class="edit-controls">
            @if (User.IsInRole("Admin") || Model.Author.Id == UserManager.GetUserId(User))
            {
                <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.RecipeId">
                    <i class="material-icons">edit</i>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.RecipeId">
                    <i class="material-icons">delete</i>
                </a>
            }
        </div>
    </div>
    
    <hr/>
    <div class="row">
        <div class="col-md-2">
            <p>
                <strong> @Html.Raw(Model.Author.UserName)</strong>
            </p>
            <p>
                @Model.LastEditTime.ToString("dd MMM yyyy hh:mm")
            </p>
        </div>

        <div class="col-md-2">
            <p>
                <h4>
                    @Localizer["Abstract"]
                </h4>
                <dd>
                    @Html.Raw(Model.Abstract)
                </dd>
            </p>
            <p>
                <h4>
                    @Localizer["Description"]
                </h4>
                <dd>
                    @Html.Raw(Model.Description)
                </dd>
            </p>
        </div>

        @if (Model.IngredientsForRecipe.Count > 0)
        {
            <div class="ingredients-wrapper">
                <h4>
                    @Localizer["ingredients"]
                </h4>
                <dd>
                    @foreach (var ingredient in Model.IngredientsForRecipe)
                    {
                        <div class="ingredient-wrapper">
                            <p class="ingredient-name">
                                @ingredient.IngredientName
                            </p>
                            <p class="ingredient-count">
                                @ingredient.Amount
                            </p>
                        </div>
                    }
                </dd>
            </div>
        }
    </div>

    <div class="col-md-8 article-details">
        <section id="comments">
            <div>
                <hr>
                <h4>@Localizer["Comments"]</h4>

                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-action="AddComment" asp-route-postid="@ViewContext.RouteData.Values["id"]" asp-antiforgery="false">
                        <div class="row comment-input">
                            <div class="input-group">
                                <input asp-for="CurrentComment" type="text" class="form-control" placeholder="@Localizer["placeholder"]" required/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">@Localizer["Submit"]</button>
                                </span>
                            </div>
                        </div>
                    </form>
                }

                @if (Model.Comments.Count == 0)
                {
                    <p>@Localizer["first"]</p>
                }
                else
                {
                    foreach (var comment in Model.Comments.OrderBy(a => a.CreatedDate))
                    {
                        <label class="comment-author">@comment.Author.UserName</label>
                        <p class="comment-date">@comment.CreatedDate</p>
                        <p class="comment-text">@comment.Text</p>

                        <form class="add-like" asp-action="CommentLike" asp-route-Id="@comment.CommentId" asp-route-recipeId="@Model.RecipeId" method="post">
                            <b>
                                <button type="submit" class="btn btn-link">
                                    <i class="material-icons">favorite</i>
                                </button>
                                @Html.Raw(comment.Likes)
                            </b>
                        </form>
                    }
                }
            </div>
        </section>
    </div>
</div>

@section Scripts
{
    <script>
        window.onload = function() {
            var ratingWrapper = $('.actual-rating-wrapper');
            var rating = $('.actual-rating');
            var rate = rating.data('rating');

            if (typeof rate != 'number') {
                rate = rate.replace(',', '.');
            }

            var ratingWidth = (rate / 5 * 100 + '%');
            ratingWrapper.css('width', ratingWidth);

            console.log(ratingWidth);

            $('.rating').on('mouseover',
                function() {
                    ratingWrapper.css('width', '100%');
                });

            $('.rating').on('mouseleave',
                function () {
                    ratingWrapper.css('width', ratingWidth);
                });

            $('.actual-rating i').on('click',
                function() {
                    var voted = $.inArray(this, $('.actual-rating i'));
                    console.log($('button[name="rating"]'));
                    $('button[name="rating"]')[voted].click();
                });
        }
    </script>
}