﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Cookbook.Models.Recipe
@using Cookbook.Data
@inject ApplicationDbContext context
@{
    ViewData["Title"] = Localizer["Title"];
}
<form asp-action="Edit">
    <div class="form-horizontal edit-recipe">
        <h4>@Localizer["msg"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">@Localizer["RecipeName"]</label>
            <div class="col-md-3">
                <input asp-for="RecipeName" class="form-control" />
                <span asp-validation-for="RecipeName" class="text-danger" />
            </div>
            <label class="col-md-2 control-label">@Localizer["Category"]</label>
            <div class="col-md-3">
                <input asp-for="Category" class="form-control" data-autocomplete-source='@Url.Action("AutocompleteCatergory", "Recipe")' />
                <span asp-validation-for="Category" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col s2 control-label">@Localizer["Abstract"]</label>
            <div class="col s10">
                <textarea asp-for="Abstract" class="form-control" required></textarea>
                <span asp-validation-for="Abstract" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col s2 control-label">@Localizer["Description"]</label>
            <div class="col s10">
                <textarea asp-for="Description" class="form-control" rows="20"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group row" id="ingredients" data-count="@Model.IngredientsForRecipe.Count">
            <div class="s12 control-label">
                <b>@Localizer["ingredients"] </b>
            </div>
            <div class="ingredient-controls">
                <span id="addIngredient" class="btn btn-default">@Localizer["Add"]</span>
                <span id="delIngredient" class="btn btn-default">@Localizer["Del"]</span>
            </div>
            @{
                for (int i = 0; i < Model.IngredientsForRecipe.Count; i++)
                {
                    string tempId = "p" + i.ToString();
                    <div class="col s12" id="@tempId">
                        <div class="col s3 control-label"><b>Имя ингредиента #@(i + 1)</b></div>
                        <div class="col s3">
                            <input asp-for="IngredientsForRecipe[i].IngredientName" class="form-control" data-autocomplete-source='@Url.Action("AutocompleteIngredients", "Recipe")' />
                        </div>
                        <div class="col s3 control-label"><b>Количество ингредиента #@(i + 1)</b></div>
                        <div class="col s3">
                            <input asp-for="IngredientsForRecipe[i].Amount" class="form-control" />
                        </div>
                    </div>
                }
            }
        </div>        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">@Localizer["Edit"]</button>
            </div>
        </div>
    </div>
</form>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="@Url.Content("//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")">
    <script>
        var data = $('#ingredients').attr('data-count');
        var counter = parseInt(data, 10);
        $("#addIngredient").click(function () {
            if (counter < 0) counter = 0;
            $("#ingredients").append(
                '<div class="col s12" id=p' + counter + '></div>'
            );
            $("#p" + counter).append(
                '<div class="col s3 control-label"><b>Имя ингредиента #' + (counter + 1) + '</b></div>'
            );
            $("#p" + counter).append(
                '<div class="col s3"><input class="form-control valid" type="text" id="IngredientsForRecipe_' + counter + '__IngredientName" name="IngredientsForRecipe[' + counter + '].IngredientName" value="" aria-invalid="false" data-autocomplete-source="/Recipe/AutocompleteIngredients"></div>'
            );
            $("#p" + counter).append(
                '<div class="col s3 control-label"><b>Количество ингредиента #' + (counter + 1) + '</b></div>'
            );
            $("#p" + counter).append(
                '<div class="col s3"><input class="form-control valid" type="text" id="IngredientsForRecipe_' + counter + '__Amount" name="IngredientsForRecipe[' + counter + '].Amount" value="" aria-invalid="false"></div>'
            );
            counter++;

            Autcomplete();
        });
        $("#delIngredient").click(function () {
            $("#p" + (counter - 1)).remove();
            counter--;
        });
        function Autcomplete() {
            $(function () {
                $("[data-autocomplete-source]").each(function () {
                    var target = $(this);
                    target.autocomplete({ source: target.attr("data-autocomplete-source") });
                });
            });
        }

        $(document).ready(function () {
            Autcomplete();
        });
    </script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=2jlub46uysalskjzfgguwjvexy0ozm5nwpzvqjss52u8pa2m"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'image code paste',
            paste_data_images: true,
            toolbar: 'undo redo | image code paste',


            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;

                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '@Url.Action("UploadImage", "Recipe")');

                xhr.onload = function () {
                    var json;

                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }

                    json = xhr.responseText;

                    success(json);

                };

                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());

                xhr.send(formData);
            }
        });
    </script>
}