﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@model Cookbook.Models.RecipeIndexViewModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="container homepage">
    
    <div class="sorter">
        <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>Сортировать по</a>
        <ul id='dropdown2' class='dropdown-content'>
            <li><a asp-action="Index" asp-route-sortBy="date">дате</a></li>
            <li><a asp-action="Index" asp-route-sortBy="rating">рейтингу</a></li>
            <li><a asp-action="Index" asp-route-sortBy="name">имени</a></li>
        </ul>
    </div>

    @if (Model.Tags.Count > 0)
    {
        <div class="tag-wrapper">
            <p>@Localizer["Tags"]</p>

            <div class="tag-cloud">
                @foreach (var tag in Model.Tags)
                {
                    <a asp-action="SortByTag" asp-route-id="@tag.TagId" style="font-size: @tag.HTMLStyle;">@tag.TagName</a>
                }
            </div>
        </div>
    }

    <ul class="col-md-8 list-unstyled article-list">
        <li class="row">
            @foreach (var recipe in Model.Recipes)
            {
                <li class="article-item">
                    <div class="article-summary">
                        <div class="article-text">
                            <h4>
                                <a asp-action="Details" asp-route-id="@recipe.RecipeId">@recipe.RecipeName</a>
                            </h4>
                            <p>@Html.Raw(recipe.Abstract)</p>
                        </div>
                        <div class="user-sign">
                            <p>
                                <strong> @Html.Raw(recipe.Author.UserName)</strong>
                            </p>
                            <p>
                                @recipe.LastEditTime.ToString("dd MMM yyyy hh:mm")
                            </p>
                        </div>
                    </div>

                    <div class="rating home-rating">
                        <div class="maximum-rating">
                            <i class="material-icons">star_border</i>
                            <i class="material-icons">star_border</i>
                            <i class="material-icons">star_border</i>
                            <i class="material-icons">star_border</i>
                            <i class="material-icons">star_border</i>
                        </div>
                        <div class="actual-rating-wrapper">
                            <div class="actual-rating" data-rating="@Math.Round(recipe.Rating, 2)">
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </li>
    </ul>
</div>

    @section Scripts
        {
        <script>
        window.onload = function() {
            var ratingWrapper = $('.actual-rating-wrapper');

            ratingWrapper.each(function() {
                var rating = $(this).find('.actual-rating');
                var rate = rating.data('rating');

                if (typeof rate != 'number') {
                    rate = rate.replace(',', '.');
                }

                var ratingWidth = (rate / 5 * 100 + '%');
                $(this).css('width', ratingWidth);
            });
            
        }
        </script>
    }
