﻿@using Cookbook.Models
@model IEnumerable<Recipe>
<div class="container">
    
    <a asp-controller="Recipe" asp-action="Index" class="back-home">
        <i class="material-icons">chevron_left</i>
        На главную
    </a>

    <ul>
        @foreach (var recipe in Model)
        {
            <li class="article-item">
                <div class="article-summary">
                    <div class="article-text">
                        <h4>
                            <a asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.RecipeId">@recipe.RecipeName</a>
                        </h4>
                        <p>@Html.Raw(recipe.Abstract)</p>
                    </div>
                    <div class="user-sign">
                        <p>
                            <strong> @Html.Raw(recipe.Author.UserName)</strong>
                        </p>
                        <p>
                            @recipe.LastEditTime.ToString("dd MMM yyyy hh:mm")
                        </p>
                    </div>
                </div>

                <div class="rating home-rating">
                    <div class="maximum-rating">
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="actual-rating-wrapper">
                        <div class="actual-rating" data-rating="@Math.Round(recipe.Rating, 2)">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

@section Scripts
{
    <script>
        window.onload = function() {
            var ratingWrapper = $('.actual-rating-wrapper');

            ratingWrapper.each(function() {
                var rating = $(this).find('.actual-rating');
                var rate = rating.data('rating');

                if (typeof rate != 'number') {
                    rate = rate.replace(',', '.');
                }

                var ratingWidth = (rate / 5 * 100 + '%');
                $(this).css('width', ratingWidth);
            });
            
        }
    </script>
}