﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@ViewData["Title"]</h2>
<p>
    @Localizer["Msg"] <a asp-action="Login">@Localizer["Click"]</a>.
</p>
