body {
  /*padding-top: 50px;*/
  padding-bottom: 20px; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/*HEADER*/
.nav-wrapper {
  display: flex;
  justify-content: space-between; }
  .nav-wrapper .brand-logo {
    position: initial;
    padding: 0 20px; }
  .nav-wrapper .categories {
    display: inline-block; }
  .nav-wrapper #logoutForm {
    padding-right: 35px; }

/*FOOTER*/
footer p {
  padding: 0 20px; }

/*HOMEPAGE*/
.homepage .article-summary {
  margin-bottom: 20px; }

.homepage .article-summary img {
  max-width: 300px; }

.homepage .article-summary .user-sign p {
  font-size: 12px;
  margin: 5px 0; }

.homepage .article-item {
  display: flex;
  justify-content: space-between; }

.homepage .article-summary h4 {
  margin-top: 0; }

/*RECIPE PAGE*/
/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%; }

/* QR code generator */
#qrCode {
  margin: 15px; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }
